.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
input {
  height: 40px;
  width: 50%;
  border: none;
  border-bottom: 2px #101113 solid;
  background: none;
  font-size: 1.5rem;
  color: #787a80;
}
input:focus {
  outline: none;
}

button:focus {
  outline: none;
}
.list-container {
  text-align: left;
  padding: 15px;
  background: #dddddd;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 2%;
  padding: 16px;
  gap: 24px;
}

@media only screen and (min-width: 300px) {
	.App {
		width: 80%;
	}
	input {
		width: 100%
	}
	button {
		width: 100%;
		margin-top: 15px;
		margin-left: 0;
	}
	.card-container {
		width: calc(100% - 16px);	
	}
	.list-container::after {
		min-width: calc(100% - 16px);
		max-width: calc(100% - 16px);
	}
	.card-title {
		font-size: 18px !important;
	}
}
@media only screen and (min-width: 640px) {
	.App {
		width: 80%;
	}
	input {
		width: 50%;
	}
	button {
		width: 30%;
		margin-left: 10px;
		margin-top: 0;
	}
	.card-container {
		width: calc(50% - 16px);	
	}
	.list-container::after {
		min-width: calc(50% - 16px);
		max-width: calc(50% - 16px);
	}
}

@media only screen and (min-width: 1200px) {
	.card-container {
		width: calc(25% - 18px)	;
		height: 340px;
		margin-bottom: 16px;
		box-sizing: border-box;
	}

	.list-container::after{
		content: '';
		flex-grow: 1;
		min-width: calc(25% - 18px);
		max-width: calc(25% - 18px);
		margin: 0;
	}
}
.card-title {
	font-weight: bold !important;
}
.modal-buttons{
	width: 20%;
	min-width: 100px;
}

.dialog-img {
	max-width: 100%;
	display: block;
	max-height: 400px;
	margin: auto;
}

.input-modal-content {
	padding-top: 20px !important;
}
